/*utils*/
:root {
  --prymary-text-color: #757575;
  --font-family: Roboto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*base*/
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

image {
  display: block;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*components*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-close-icon {
  width: 10px;
  height: 10px;
  fill: #000000;
}

.modal-close-btn:hover .modal-close-icon {
  fill: #2196F3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form-input {
  display: block;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 4px;
  cursor: pointer;
}

.modal-form-input:focus {
  outline: none;
  border-color: #2196F3;
}

.modal-form-input-label {
  color: #757575;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  /* background-color: #212121; */
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: #2196F3;
}

.modal-form-message {
  display: block;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  margin-top: 4px;
  margin-bottom: 20px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-form-message:focus {
  outline: none;
  border-color: #2196F3;
}

.modal-form-message::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-check-policy:checked + .modal-form-label-policy::before {
  background-image: url(../images/Vector_.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  outline: 2px solid #2196f3;
}

.modal-form-label-policy {
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor: pointer;
  margin-bottom: 30px;
  cursor: pointer;
}

.modal-form-label-policy::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  outline: 2px solid #212121;
  margin: 7px;
}

.modal-form-check-policy:focus + .modal-form-label-policy::before {
  background-color: #2196f3;
}

.modal-form-btn {
  min-width: 200px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #2196F3;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:focus {
  background: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.policy-check-link {
  color: #2196F3;
  text-decoration: underline;
}

.section-buttons {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-button .item + .item {
  margin-left: 8px;
}

.button {
  padding: 6px 22px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #F5F4FA;
  border-radius: 4px solid white;
  border: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus, .button:active {
  color: #FFFFFF;
  background: #2196F3;
  /* shadow-middle */
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover .button,
.item:focus .button {
  background: #2196F3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.footer-subscribe-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-list-item:not(:last-child) {
  margin-right: 12px;
}

.subscribe-email {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe-button {
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
}

.subscribe-button::after {
  content: url(../images/icon-send.svg);
  margin-left: 10px;
  padding-top: 6px;
}

/*layout*/
.header {
  border-bottom: 1px solid #ECECEC;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  width: 145px;
  height: 31px;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  color: #212121;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .auth-nav-contacts-link {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
}

.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav .item + .item {
  margin-left: 50px;
  display: block;
}

.site-nav-studio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
  position: relative;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-studio:hover, .site-nav-studio:focus {
  color: #2196f3;
}

.site-nav-studio.active {
  color: #2196f3;
}

.web {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover, .logo:focus {
  color: #2196f3;
}

.logo:active {
  color: teal;
}

.active::after {
  content: "";
  top: 46px;
  left: 0;
  width: 100%;
  height: 4px;
  position: absolute;
  display: block;
  background: #2196F3;
  border-radius: 2px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-portfolio, .site-nav-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.site-nav-portfolio:hover, .site-nav-portfolio:focus, .site-nav-portfolio:active, .site-nav-contacts:hover, .site-nav-contacts:focus, .site-nav-contacts:active {
  color: #2196f3;
}

.icon-envelope-hover {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--prymary-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.auth-nav-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--prymary-text-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav-contacts-link:hover .icon-envelope-hover,
.auth-nav-contacts-link:focus .icon-envelope-hover {
  fill: #2196F3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.auth-nav-contacts-link:hover, .auth-nav-contacts-link:focus, .auth-nav-contacts-link:active {
  color: #2196f3;
}

.auth-nav-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--prymary-text-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav-tel:hover, .auth-nav-tel:focus, .auth-nav-tel:active {
  color: #2196f3;
}

.auth-nav-tel:hover .icon-smartphone,
.auth-nav-tel:focus .icon-smartphone {
  fill: #2196F3;
}

.icon-smartphone {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--prymary-text-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title > .container {
  display: block;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  max-width: 1600px;
  height: 600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(70, 71, 85, 0.4))), url(../images/background.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(70, 71, 85, 0.4)), url(../images/background.jpg);
  background-color: #2F303A;
}

.title-buton-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.title-buton-buton {
  width: 200px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #2196F3;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-buton-buton:hover, .title-buton-buton:focus {
  color: #2196f3;
  background-color: #fff;
}

.title-buton-buton:active,
.title-buton-title:active {
  color: #2196F3;
  background-color: #fff;
}

.features-items {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features .item {
  width: 270px;
}

.features .item:not(:last-child) {
  margin-right: 30px;
}

.features__antenna {
  width: 270px;
  height: 120px;
  padding: 25px 102px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__clock {
  width: 270px;
  height: 120px;
  padding: 25px 102px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__diagram {
  width: 270px;
  height: 120px;
  padding: 25px 102px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__astronaut {
  width: 270px;
  height: 120px;
  padding: 25px 102px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.features-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--prymary-text-color);
}

.images {
  padding-bottom: 94px;
}

.images .item:not(:last-child) {
  margin-right: 30px;
}

.title-2 {
  min-width: 376px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.images-image {
  position: relative;
}

.images-image > .images-overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #F5F4FA;
}

.our-team > .container {
  display: block;
  /* align-items: baseline; */
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.title-3 {
  min-width: 264px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 30px;
  padding-bottom: 10px;
}

.work {
  padding-bottom: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--prymary-text-color);
}

.title-3-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.title-3-members .item:not(:last-child) {
  margin-right: 30px;
}

.title-3-members .item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 32px;
  margin-right: 32px;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
}

.social-list-link:hover, .social-list-link:focus {
  background-color: #2196F3;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #FFFFFF;
}

.clients > .container {
  display: block;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title-clients {
  min-width: 390px;
  height: 42px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: #2196f3;
}

.clients-link:hover {
  border-color: #2196F3;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-icon {
  width: 44px;
  height: 49px;
  fill: #AFB1B8;
}

.logo-2 {
  width: 40px;
  height: 52px;
}

.logo-3 {
  width: 41px;
  height: 42px;
}

.logo-4 {
  width: 79px;
  height: 42px;
}

.logo-5 {
  width: 59px;
  height: 47px;
}

.logo-6 {
  width: 88px;
  height: 45px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}

.footer .web {
  margin-left: 0px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.footer .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-bottom: 20px;
  width: 145px;
  height: 31px;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  color: #fff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover, .logo:focus {
  color: #2196f3;
}

.logo:active {
  color: teal;
}

.footer-address {
  padding-bottom: 9px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer-mail {
  display: inline-block;
  padding-bottom: 9px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail:hover, .footer-mail:focus, .footer-mail:active {
  color: #2196f3;
}

.footer-tel {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tel:focus, .footer-tel:hover {
  color: #2196f3;
}

.social-links {
  padding-left: 70px;
  margin-right: 76px;
}

.call {
  margin-bottom: 20px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.social-list-footer {
  margin-left: auto;
}

.social-list-footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  fill: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-list-footer svg {
  fill: inherit;
}

.social-list-footer > .social-list-item:not(:last-child) {
  margin-right: 10px;
}

.progects-title {
  padding-bottom: 4px;
  min-width: 322px;
  height: 36px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.progects-title-text {
  padding: 20px 24px;
}

.progects {
  width: 1200px;
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.progects .item {
  width: 370px;
  height: 404px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.progects .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.progects .item:nth-last-child(-n+7) {
  margin-bottom: 30px;
}

.progects .item:hover,
.progects .item:focus-within {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.transform-item {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  /* overflow: auto; */
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.transforms:hover .overlay,
.transforms:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.progects-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--prymary-text-color);
}
/*# sourceMappingURL=main.css.map */