.features{

    &-wrapper{
    width: 450px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F4FA;
    margin-bottom: 30px;
    }

    &__icon{
        width: 70px;
        height: 70px;
    }
}

.features .item{
width: 450px;
align-items: center;

    &:not(:last-child) {
    margin-bottom: 30px;
    }
}

.features-title{
text-align: center;
margin-bottom: 10px;
font-weight: 700;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}


.features-text{
font-weight: normal;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: var(--prymary-text-color);
}



@media screen and (min-width: 768px) {    
    .features{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: -15px;
        }
    
    .features .item{
    width: 354px;
    margin: 15px;
    outline: 1px solod red;
    &:not(:last-child) {
    margin-bottom: 15px;
    }
    }

    
    .features-title{
        text-align: left;
    }

    .features-wrapper{
    width: 354px;
    height: 120px;
    }
}

@media screen and (min-width: 1200px) {
    width: 1200px;

    .features .item:not(:last-child) {
    margin-bottom: 0 px;
}

    .features .item{
    width: 270px;
    }
    
    .features-wrapper{
    width: 270px;
    }
}

