.subscribe-list-item:last-child {
// margin-right: 12px;
display: flex;
flex-direction: column;
justify-items: center;
margin-left: auto;
margin-right: auto;
}

.subscribe-email {
margin-bottom: 20px;
width: 450px;
height: 50px;
padding: 15px 16px;
background-color: transparent;
color: rgba(255, 255, 255, 0.6);
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
}

.subscribe-button {
width: 200px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: #FFFFFF;
}

.subscribe-button::after {
content: url(../images/icon-send.svg);
margin-left: 10px;
padding-top: 6px;
}

@media screen and (min-width: 768px){
  .footer-subscribe-list {
display: flex;
flex-direction: column;
justify-items: center;
justify-content: center;
margin-left: auto;
margin-right: auto;
}

}

@media screen and (min-width: 768px){
  .footer-subscribe-list{
display: flex;
flex-direction: row;
  }

  .subscribe-email {
width: 358px;
  }
  .subscribe-list-item {
margin-right: 12px;
  }

}