a{
    text-decoration: none;
}
li{
   list-style-type: none;
}
body {
  font-family: Roboto, sans-serif;
  }
  h1,h2,h3,h4,h5,h6,p{
 margin: 0;
}
address{
    font-style: normal;
}
.list{
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}
image{
    display: block;
}
