.container {
    width: 100%;
    padding: 0 15px;
}

@media screen and (min-width:480px) {
    .container {
    width: 480px;
    margin: 0 auto;
    }

    .title .container {
    width: 360px;
    padding: 0 0;
    }
}

@media screen and (min-width: 768px) {
    .container{
    display: flex;
    width: 768px;
    }

    .title .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        display: flex;
        width: 1200px;
    }

    .title .container{
        width: 694px;
        }
}


// .container{
// display: flex;
// width: 1200px;
// padding-left: 15px;
// padding-right: 15px;
// margin: 0 auto;
// }